
<div class="container text-center mt-4">
<div class="card text-center">
<div class="card-header">
Element ID:<%= @el.id %>
</div>
<div class="card-body">
<h5 class="card-title">TITLE:</br><%= @el.title%></h5>
<p class="card-text">DETAILS:<%= @el.details %></p>
<%= link_to "Elements", elements_path, class: "btn btn-outline-success" %>
<%= link_to "Edit", edit_element_path(@el), class: "btn btn-outline-info" %>
<%= link_to "Delete", element_path(@el), class: "btn btn-outline-danger",data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' }%>
</div>
<div class="card-footer text-muted">
created at:<%= @el.created_at %></br>
updated_at:<%= @el.updated_at %></br>
</div>
</div>    
</div>    